---
import { getCollection } from 'astro:content';
import CompactPreviewCard from '@components/PostPreviewCard/CompactPreviewCard.astro';

// Remove Drafts, Archived, and Non-Featured Posts
let featuredPosts = (await getCollection('posts')).filter(post => (
  !post.data.draft && 
  !post.data.archived &&
  typeof post.data.featuredRank !== 'undefined'
));
// Sort by Featured Rank Ascending
featuredPosts.sort(function(a, b) {
  let a_rank = a.data.featuredRank || 0;
  let b_rank = b.data.featuredRank || 0;
  if (a_rank > b_rank) return 1;
  if (b_rank > a_rank) return -1;
  return 0;
});
---


{
  (featuredPosts && featuredPosts.length>0) &&
  <div class="content-section">
    <h2>Featured</h2>
    <ul class="layout layout--flex-fill">
      {featuredPosts.map((post) => 
        <li>
          <CompactPreviewCard post={post} />
        </li>
      )}
    </ul>
  </div>
}


<style>
  h2 { text-align: center; }
</style>
