---
import ContactLinks from '@components/ContactLinks.astro';
import HomepageImage from './HomepageImage.astro';
---

<div class="hero">

  <div id="hero-img-wrap">
    <HomepageImage />
  </div>

  <div
    class="content-section"
    id="hero-content-wrap"
  >
    <h1 class="cursive">Tyler Wittig</h1>
    <p>
      My name is Tyler and I am a full-stack web developer.
      This is my website. It is on the web.  
    </p>
    <nav aria-label="Social Links">
      <ContactLinks links={["Codepen", "GitHub", "LinkedIn", "RSS"]} />
    </nav>
  </div>
  
</div>


<style>
  .hero {
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
  }
  #hero-img-wrap { flex-basis: 33%; }
  #hero-content-wrap { flex-basis: 66%; }


  #hero-content-wrap.content-section { --_content--gap: 1.5em; }
  h1 {
    color: var(--text2);
    font-size: min(4.5rem, 14vmin);
    line-height: 1.75em;
  }
  p {
    font-size: 1.25rem;
    line-height: 1.5em;
    max-width: 40ch;
    text-wrap: balance;
  }
  nav { margin: auto; }


  @media (min-width: 95ch) {
    .hero {
      flex-direction: row-reverse;
      gap: 1rem;
      justify-content: space-between;
      min-height: min(55vh, 65ch);
      text-align: left;
    }
    
    #hero-img-wrap { --_rotation: 2deg; }

    #hero-content-wrap.content-section { --_content--gap: 2rem; }
    p { font-size: 1.5rem; }
    nav { margin-left: 0; }
  }
</style>
