---
import { getCollection } from 'astro:content';


// Get All Published Post Tags
const publishedPosts = (await getCollection('posts')).filter(post => !post.data.draft && !post.data.archived);
const allTags = publishedPosts.map((post) => post.data.tags).flat().sort();


/*

Get Counts for Each Tag:

tagCounts = {
  tag1: count1,
  tag2: count2,
  ...
  tagN: countN
}

*/
const tagCounts = {};
allTags.forEach((tag) => {
  if (tag) {
    tag in tagCounts ? tagCounts[tag]++ : tagCounts[tag] = 1;
  }
});


/*

Group Tags by Count:

tagsByCount = {
  count1: [tag11, tag12, tag13],
  count2: [tag21, tag22, tag23],
  ...
  countN: [tagN1, tagN2, tagN3]
}

*/
const tagsByCount = {};
Object.keys(tagCounts).forEach(tag => {
  if (tag && tagCounts[tag]) {
    const count = tagCounts[tag];
    count in tagsByCount ? tagsByCount[count].push(tag) : tagsByCount[count] = [tag];
  }
});


/*

Sort Tag Lists by their corresponding Count:

First we create an array from the tagsByCount object:

tagsByCountArray = [
  [count1: [tag11, tag12, tag13]],
  [count2: [tag21, tag22, tag23]],
  ...
  [countN: [tagN1, tagN2, tagN3]]
]

Then we sort the array by its counts.

*/
let tagsByCountArray = Object.keys(tagsByCount).map(count => {
  return [count, tagsByCount[count]];
});
tagsByCountArray.sort((t1, t2) => {
  if (t1[1] !== t2[1]) return (parseInt(t1[1]) < parseInt(t2[1])) ? 1 : -1;
  return 0;
});

// Truncate Output Length to 5
if (tagsByCountArray.length > 5) tagsByCountArray.length = 5;
---


{
  (tagsByCountArray && tagsByCountArray.length>0) &&
  <h2>Top Tags</h2>
  <ul
    class="btns layout layout--list"
    style="--_layout--gap:0.125rem;"
  >
    {
      tagsByCountArray.map(([count, tags]) => (
        <li>
          <ul
            class="btns layout layout--list"
            style="--_layout--gap: 0.125rem;--_layout--base-size:15rem;"
          >
            {
              tags.map(tag => (
                <li>
                  <a
                    class="btn surface4 underline-on-hover"
                    href={`/tags/${tag}`}
                  >
                    #{tag} ({count})
                  </a>
                </li>
              ))
            }
          </ul>
        </li>
      ))
    }
  </ul>
  <p>
    <a href="/tags/">View all tags</a>
  </p>
}


<style>
  h2,
  p { text-align: center; }
  p { margin: auto; }
  .btn { display: block; }
</style>
