---
import { getCollection } from 'astro:content';
import PostCollectionLayout from '@layouts/PostCollectionLayout.astro';
import CompactPreviewCard from '@components/PostPreviewCard/CompactPreviewCard.astro';
import NothingHereCard from '@components/PostPreviewCard/NothingHereCard.astro';

let posts = (await getCollection('posts')).filter(post => post.data.archived===true);
posts.sort(function(a, b) {
	let a_date = Date.parse(a.data.dateUpdated || a.data.datePublished);
  let b_date = Date.parse(b.data.dateUpdated || b.data.datePublished);
  if (b_date > a_date) return 1;
  if (a_date > b_date) return -1;
  return 0;
});
---
<PostCollectionLayout
  hasBreadcrumbs={true}
	title="Archived Posts"
	numPosts={posts.length}
>

  <ul
    slot="content"
    class="layout layout--grid"
  >
    {
      posts && posts.length > 0 
      ? posts.map((post, i) => 
        <li>
          <CompactPreviewCard post={post} />
        </li>
      )
      : <li>
          <NothingHereCard />
        </li>
    }
  </ul>

</PostCollectionLayout>
