---
import BaseLayout from "@layouts/BaseLayout.astro";
---
<BaseLayout
  title="The Backrooms"
  description="Back already?"
>

  <section>
    
    <div class="content-section wrapper">
      <h1>The Backrooms</h1>
      <div class="card content-section surface2">
        <h2>Back already?</h2>
        <p>I thought you weren't supposed to be here until later this evening.</p>
      </div>
    </div>

      <div
        class="card layout layout--list surface0 wrapper"
        style="--_gap: 0.25em;"
      >
        <a class="btn surfaceLink" href="assets">Brand Asset Generation</a>
        <a class="btn surfaceLink" href="drafts">Post Drafts</a>
      </div>

  </section>

</BaseLayout>

<style>
  a { color: Canvas !important; }
</style>