---
import BaseLayout from "@layouts/BaseLayout.astro";
---
<BaseLayout
  title="The Backrooms"
  description="Back already?"
>

  <section>

    <div class="wrapper">
      <h1>The Backrooms</h1>
    </div>

    <div class="card content-section shadow-sm surface0 wrapper">
      <!-- Meaningless Card -->
      <div
        class="card content-section surface3"
        style="--_content--gap:0.5rem;"
      >
        <h2>Back already?</h2>
        <p>I thought you weren't supposed to be here until later this evening.</p>
      </div>
      <!-- Links -->
      <div
        class="btns layout layout--list"
        style="--_layout--gap: 0.125em;"
      >
        <a class="btn surface4" href="drafts">Post Drafts</a>
        <a class="btn surface4" href="archived">Archived Posts</a>
        <a class="btn surface4" href="assets">Brand Asset Generation</a>
        <a class="btn surface4" href="theme">Site Theme Testing</a>
      </div>
    </div>
    
  </section>

</BaseLayout>
