---
import PostCollectionLayout from '@layouts/PostCollectionLayout.astro';
import { getCollection } from 'astro:content';
import ExpandedPreviewCard from '@components/PostPreviewCard/ExpandedPreviewCard.astro';
import CompactPreviewCard from '@components/PostPreviewCard/CompactPreviewCard.astro';
import NothingHereCard from '@components/PostPreviewCard/NothingHereCard.astro';

let publishedBlogPosts = (await getCollection('posts')).filter(post => (
  !post.data.draft &&
  !post.data.archived &&
  post.data.category==="blog"
));
publishedBlogPosts.sort(function(a, b) {
	let a_date = Date.parse(a.data.dateUpdated || a.data.datePublished);
  let b_date = Date.parse(b.data.dateUpdated || b.data.datePublished);
  if (b_date > a_date) return 1;
  if (a_date > b_date) return -1;
  return 0;
});
---
<PostCollectionLayout
	title="Blog"
  description="Tyler Wittig's Blog Posts"
	numPosts={publishedBlogPosts.length}
>

  <div
    slot="content"
    class="content-section"
  >

    {/* No Posts - Nothing Here Card */}
    {
      (publishedBlogPosts.length === 0) &&
      <NothingHereCard />
    }

    {/* Most Recent Post - Large Card */}
    {
      publishedBlogPosts.length > 0 &&
      <ExpandedPreviewCard post={publishedBlogPosts[0]} />
    }
    
    {/* Posts 2+ - Medium Card */}
    {
      publishedBlogPosts.length > 1 &&
      <ul class="layout layout--grid">
        {
          publishedBlogPosts.map((post, i) => (
            i>0 && 
            <li>
              <CompactPreviewCard post={post} />
            </li>
          ))
        }
      </ul>
    }

  </div>

</PostCollectionLayout>
