---
import PostCollectionLayout from '@layouts/PostCollectionLayout.astro';
import { getCollection } from 'astro:content';
import ExpandedPreviewCard from '@components/PostPreviewCard/ExpandedPreviewCard.astro';
import NothingHereCard from '@components/PostPreviewCard/NothingHereCard.astro';

let publishedBlogPosts = (await getCollection('posts')).filter(post => (
  !post.data.draft &&
  post.data.category==="blog"
));
publishedBlogPosts.sort(function(a, b) {
	let a_date = Date.parse(a.data.dateUpdated || a.data.datePublished);
  let b_date = Date.parse(b.data.dateUpdated || b.data.datePublished);
  if (b_date > a_date) return 1;
  if (a_date > b_date) return -1;
  return 0;
});
---
<PostCollectionLayout
	title="Blog"
  description="Tyler Wittig's Blog Posts"
	numPosts={publishedBlogPosts.length}
>

  <ul
    slot="content"
    class="layout layout--grid"
  >
    {
      publishedBlogPosts && publishedBlogPosts.length > 0 
      ? publishedBlogPosts.map((post) => 
        <li>
          <ExpandedPreviewCard post={post} />
        </li>
      )
      : <li>
          <NothingHereCard />
        </li>
    }
  </ul>

</PostCollectionLayout>
