---
import BackroomsArticle from "../Assets/BackroomsArticle.astro";
import BackroomsArticleHeading from "../Assets/BackroomsArticleHeading.astro";
---

<BackroomsArticle>
  <BackroomsArticleHeading>Open Graph Image</BackroomsArticleHeading>

  <section class="wrapper">

    <div class="content-section">
      <h3 class="cursive">Tyler Wittig</h3>
      <p>Full-Stack Web Developer</p>
    </div>

  </section>

</BackroomsArticle>


<style>

  /* Wrapper */
   section {
    align-items: center;
    background: var(--text2);
    color: var(--surface1);
    display: flex;
    gap: 5rem;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    /* 
    Force card to be the recommended og image aspect ratio and size. 
    Google "og image aspect ratio" for more details.
    */
    /* aspect-ratio: 1.91 / 1; */
    height: 630px;
    width: 1200px;
    min-height: 630px;
    min-width: 1200px;
  }

  /* Name */
  h3 {
    font-size: 8rem;
    line-height: 1.5em;
  }

  /* Title */
  p {
    font-size: 4rem;
    line-height: 1.75em;
    opacity: 0.7;
  }

  /* Image */
  .img-wrap {
    clip-path: url(#jagged_circle);
    line-height: 0;
  }
  img {
    max-width: 40ch;
    width: 100%;
  }

</style>
