---
const { datePublished, dateUpdated } = Astro.props;
---

{
  (datePublished || dateUpdated) &&
  <div>
    {
      datePublished &&
      <em class="diminished">
        {datePublished}
      </em>
    }
    {
      dateUpdated &&
      <em class="diminished">
        (Updated {dateUpdated})
      </em>
    }
  </div>
}

<style>
  em { display: inline-block; }
  em:first-of-type { margin-right: 0.5ch; }
</style>
