---
import { getCollection } from 'astro:content';
import PostPreviewCard from '@components/PostPreviewCard/index.astro';

// Remove Drafts
let publishedPosts = (await getCollection('posts')).filter(post => !post.data.draft);
// Sort by Date Descending
publishedPosts.sort(function(a, b) {
	let a_date = Date.parse(a.data.dateUpdated || a.data.datePublished);
  let b_date = Date.parse(b.data.dateUpdated || b.data.datePublished);
  if (b_date > a_date) return 1;
  if (a_date > b_date) return -1;
  return 0;
});
// Truncate Output to Length 3
publishedPosts.length = 5;
---
<ul
  class="card-container card-container--flex"
  style="--_card-gap: 0.5rem;"
>
  {publishedPosts.map((post) => 
    <li>
      <PostPreviewCard
        post={post}
        cardType="minimal"
      />
    </li>
  )}
</ul>
