---
import BaseLayout from "@layouts/BaseLayout.astro";
import RecentPosts from '@components/RecentPosts.astro';
---
<BaseLayout>

  <section>
    <div class="wrapper">

      <h1>404 Error</h1>
      <h2 class="heading--diminished">This URL does not exist or was changed.</h2>
      <p>
        Return to the
        <a href="/">homepage</a> or 
        check out my recent posts below.
      </p>
      
    </div>
  </section>

  <section>
    <div class="card shadow-sm surface0 wrapper">

      <RecentPosts />

    </div>
  </section>

</BaseLayout>
