---
import BaseLayout from "@layouts/BaseLayout.astro";
import RecentPosts from '@components/RecentPosts.astro';
---
<BaseLayout>

  <section>
    <div class="content-section wrapper">
      <div
        class="content-section"
        style="--_content--gap:0.5rem;"
      >
        <h1>404 Error</h1>
        <h2 class="heading--diminished">This URL does not exist or was changed.</h2>
      </div>
      <p>
        Return to the
        <a href="/">homepage</a> or 
        check out my recent posts below.
      </p>
      
    </div>
  </section>

  <section>
    <div class="card shadow-sm surface0 wrapper">

      <RecentPosts />

    </div>
  </section>

</BaseLayout>

