---
import BaseLayout from '@layouts/BaseLayout.astro';
import SocialLinks from '@components/SocialLinks.astro';
import HomepageImage from '@components/Homepage/HomepageImage.astro';
import FeaturedPosts from '@components/Homepage/FeaturedPosts.astro';
import RecentPosts from '@components/RecentPosts.astro';
import TopTags from '@components/Homepage/TopTags.astro';
---


<BaseLayout>
  <div class="content-section">

    <section id="intro">
      <div class="wrapper">

        <HomepageImage />
        
        <div class="content-section">
          <h1 class="cursive">Tyler Wittig</h1>
          <p>
            Hello! My name is Tyler and I am a full-stack developer.
            This is my website. It is on the web.  
          </p>
          <div id="intro-socials-wrap">
            <SocialLinks />
          </div>
        </div>

      </div>
    </section>


    {/* Posts and Tags */}
    <section id="content">
      <div class="content-section wrapper">

        <FeaturedPosts />
        <RecentPosts />
        <TopTags />

      </div>
    </section>


    {/* About */}
    <section>
      <div class="wrapper">

        <div
          class="card content-section surface2"
          style="--_content-gap: 0.5rem;"
        >
          <h2>About</h2>
          <p>
            This website is built with
            <a target="_blank" rel="noopener noreferrer" href="https://astro.build/">Astro</a>
            (and a sprinkle of
            <a target="_blank" rel="noopener noreferrer" href="https://react.dev/">React</a>).
            Its CSS styles are inspired by Google's
            <a target="_blank" rel="noopener noreferrer" href="https://m3.material.io/">Material Design</a> system.
            You can
            <a href="/projects/portfolio-2023">read more details about my portfolio website here</a>.
          </p>
        </div>
        
      </div>
    </section>

  </div>
</BaseLayout>


<style>
  #intro .wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    overflow: hidden;
  }

  #intro h1 {
    font-size: 4.5rem;
    line-height: 1.5em;
    color: var(--text2);
  }
  #intro p {
    font-size: 1.5rem;
    line-height: 1.5em;
  }
  #intro-socials-wrap {
    margin: auto;
    width: fit-content;
  }

  @media (min-width: 95ch) {
    #intro .wrapper {
      flex-direction: row-reverse;
      text-align: left;
      gap: 2rem;
      min-height: min(60vh, 70ch);
      padding-block: 2rem;
    }
    #intro-socials-wrap {
      margin-top: 2rem;
      margin-left: 0;
    }
  }
</style>
