---
import BaseLayout from '@layouts/BaseLayout.astro';
import HomepageHero from '@components/Homepage/HomepageHero.astro';
import FeaturedPosts from '@components/Homepage/FeaturedPosts.astro';
import RecentPosts from '@components/RecentPosts.astro';
import TopTags from '@components/Homepage/TopTags.astro';
---


<BaseLayout>
  <div class="content-section">


    {/* Hero Section */}
    <section>
      <div class="wrapper">

        <HomepageHero />

      </div>
    </section>


    {/* Posts and Tags */}
    <section id="content">
      <div class="card content-section shadow-sm surface0 wrapper">

        <FeaturedPosts />
        <RecentPosts />
        <TopTags />

      </div>
    </section>

    
  </div>
</BaseLayout>
