---
import BaseLayout from '@layouts/BaseLayout.astro';
import SiteSearch from '@components/SiteSearch/index.astro';
---
<BaseLayout
  title="Search"
  description="Search all of Tyler Wittig's Content"
>

  <section>
    <SiteSearch />
  </section>

</BaseLayout>
