<span class="surface3"><slot/></span>

<style>
  span {
    border-radius: var(--radius-sm);
    box-decoration-break: clone;
    display: inline-flex;
    outline: 0.0625em solid var(--surface1);
    padding: 0.25em;
    word-wrap: break-word;
  }
</style>
