---
const {title} = Astro.props;
---
<div class="code-block-area card surface2">
  {
    title &&
    <b>{title}</b>
  }
  <div
    class="code-block-wrap card custom-scrollbar surface1"
    style="--_scrollbar--track-margin:var(--radius-lg);"
  ><slot /></div>
</div>

<style>
  .code-block-area.card { padding: 0.5em; }
  b { padding-inline: 0.5em; }
  .code-block-wrap.card {
    display: block;
    font-family: monospace;
    line-height: 1.5em;
    overflow-x: auto;
    white-space: pre;
  }
</style>
