---
import { getCollection } from 'astro:content';
import PostPreviewCard from '@components/PostPreviewCard/index.astro';

// Remove Drafts and Non-Featured Posts
let featuredPosts = (await getCollection('posts')).filter(post => (
  !post.data.draft &&
  typeof post.data.featuredRank !== 'undefined'
));
// Sort by Featured Rank Ascending
featuredPosts.sort(function(a, b) {
  let a_rank = a.data.featuredRank || 0;
  let b_rank = b.data.featuredRank || 0;
  if (a_rank > b_rank) return 1;
  if (b_rank > a_rank) return -1;
  return 0;
});
---
<ul class="card-container card-container--flex">
  {featuredPosts.map((post) => 
    <li>
      <PostPreviewCard
        post={post}
        cardType="compact"
      />
    </li>
  )}
</ul>
