---
import { SITE_TITLE, SITE_AUTHOR, CONTACT_INFO } from '@consts.js';
import ContactLinks from '@components/ContactLinks.astro';

const links = [
  { 'text': "Home",    'href': "/",         },
  { 'text': "Archive", 'href': "/archive/", },
  { 'text': "Tags",    'href': "/tags/",    },
  {
    'text': 'Report an issue',
    'href': CONTACT_INFO['Issue'].join(''),
    'target': '_blank',
    'rel': 'noopener noreferrer'
  },
];
---

<footer class="layout layout--list wrapper">

  <p class="cursive">{SITE_TITLE}</p>

  <p class="reasons">
    Whether you are in need of a web developer,
    have any questions, or are just looking to connect,
    <b>feel free to get in touch with me</b>!
  </p>

  <nav aria-label="Contact Links">
    <ContactLinks />
  </nav>

  <nav aria-label="Site Navigation (Footer)">
    <ul class="layout">
      {
        links.map(({text, ...attrs}) => (
          <li>
            <a {...attrs}>{text}</a>
          </li>
        ))
      }
    </ul>
  </nav>

  <p class="copyright">
    &copy; {`${new Date().getFullYear()} ${SITE_AUTHOR}`}
  </p>
    
</footer>


<style>
  footer {
    align-items: center;
    margin-top: 1rem;
    text-align: center;
  }
  .reasons { text-wrap: balance; }
  .copyright { font-size: 0.75em; }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
</style>
