---
const { tags, noWrap=false } = Astro.props;
---
{
  tags &&
  <ul class={noWrap ? "no-wrap custom-scrollbar" : ""}>
    {tags.map((tag) => 
      tag &&
      <li>
        <a 
          class="btn surface4 underline-on-hover" 
          href={`/tags/${tag}`}
          title={`View all posts tagged with #${tag}`}
        >#{tag}</a>
      </li>
    )}
  </ul>
}

<style>
  ul {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.95rem;
    gap: 0.5rem;
    list-style: none;
  }
  a {
    padding: 0.125rem 0.5rem;
    border-radius: var(--radius-lg);
  }

  ul.no-wrap {
    --_bar-size: 0.35rem;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 0.35rem;
  }
  ul.no-wrap a { white-space: nowrap; }
</style>
