---
import { getCollection } from 'astro:content';
import MinimalPreviewCard from '@components/PostPreviewCard/MinimalPreviewCard.astro';

// Remove Drafts and Archived
let publishedPosts = (await getCollection('posts')).filter(post => !post.data.hidden);
// Sort by Date Descending
publishedPosts.sort(function(a, b) {
	let a_date = Date.parse(a.data.dateUpdated || a.data.datePublished);
  let b_date = Date.parse(b.data.dateUpdated || b.data.datePublished);
  if (b_date > a_date) return 1;
  if (a_date > b_date) return -1;
  return 0;
});
// Truncate Output to Length 3
publishedPosts.length = 5;
---


{
  (publishedPosts && publishedPosts.length>0) &&
  <div class="content-section">

    <h2>Recent Posts</h2>
    <ul
      class="btns layout layout--list"
      style="--_layout--gap: 0.25rem;"
    >
      {publishedPosts.map((post) => 
        <li>
          <MinimalPreviewCard post={post} />
        </li>
      )}
    </ul>
    <p>
      View all posts on the
      <a href="/archive/1/">Archive</a>
      page.
    </p>
  
  </div>
}


<style>
  h2,
  p { text-align: center; }
  p { margin: auto; }
</style>
