---
import { getEntries } from 'astro:content';
import MinimalPreviewCard from './PostPreviewCard/MinimalPreviewCard.astro';
import DecorativeLine from '@components/DecorativeLine/index.astro';

const slugs = Astro.props.slugs;
const relatedPosts = (await getEntries(slugs)).filter(post => !post.data.hidden);
---
{
  relatedPosts &&
  relatedPosts.length > 0 &&
  <div class="content-section">
    <h2>Related Posts</h2>
    <ul
      class="btns layout layout--list"
      style="--_layout--gap: 0.25rem;"
    >
      {
        relatedPosts.map(post => 
          <li>
            <MinimalPreviewCard post={post} />
          </li>
        )
      }
    </ul>
    <DecorativeLine />
  </div>
}

<style>
  h2 { text-align: center; }
</style>