---
// Define Main Navigation Links
let links = [
  { 'text': "Home",    'href': "/",          },
  { 'text': "Archive", 'href': "/archive/" },
  { 'text': "Tags",    'href': "/tags/",     }
];


// Add Current Page Accessibility Attribute
const urlPieces = Astro.url.pathname.split("/").filter(Boolean);

links.forEach((link) => {
  let isActive = false;

  if (link.href===Astro.url.pathname) {
    isActive = true;
  } else {
    const hrefPieces = link.href.split("/").filter(Boolean);
    isActive = hrefPieces.filter(value => urlPieces.includes(value)).length > 0;
  }

  link['aria-current'] = isActive ? "page" : "false";
});
---


<ul class="btns">
  {links.map(({text, ...attrs}) =>
    <li>
      <a {...attrs} class="btn surface2 underline-on-hover">
        {text}
      </a>
    </li>
  )}
</ul>


<style>
  .btns {
    flex-direction: column;
    width: 100%;
  }
  a {
    display: block;
    text-align: center;
    color: var(--text1);
  }
  a[aria-current="page"] { text-decoration: underline; }

  @media (min-width: 80ch) {
    .btns { flex-direction: row; }
  }
</style>
