---
// Note: id="site-logo" is used as an anchor for the ScrollTopButton Component to move focus
---
<a
  aria-label="Navigate to the Homepage"
  class="btn cursive surface2"
  href="/"
  id="site-logo"
  title="Navigate to the Homepage"
>
  <span>TW</span>
</a>

<style>
  a {
    --size: 2.5rem;
    border-radius: 50%;
    color: var(--text1);
    display: grid;
    height: var(--size);
    place-content: center;
    text-decoration: none;
    width: var(--size);
  }
  @media (hover: hover) {
    a:hover { text-decoration: underline; }
  }
  span { font-size: calc(var(--size) / 3); }
</style>
