<a class="cursive surface1" href="/" title="Visit the Home page">
  <span>TW</span>
</a>

<style>
  a {
    --size: 2.5rem;
    border-radius: 50%;
    color: var(--text1);
    display: grid;
    place-content: center;
    height: var(--size);
    width: var(--size);
    text-decoration: none;
  }
  span { font-size: calc(var(--size) / 3); }
</style>
