<a class="btn cursive surface1" href="/" title="Visit the Home page">
  <span>TW</span>
</a>

<style>
  a.btn {
    --size: 2.5rem;
    border-radius: 50%;
    display: inline-block;
    height: var(--size);
    position: relative;
    width: var(--size);
  }
  span {
    font-size: calc(var(--size) / 3);
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
</style>
