<a class="btn cursive surface2 underline-on-hover" href="/" title="Visit the Home page">
  <span>TW</span>
</a>

<style>
  a {
    --size: 2.5rem;
    border-radius: 50%;
    color: var(--text1);
    display: grid;
    height: var(--size);
    place-content: center;
    text-decoration: none;
    width: var(--size);
  }
  span { font-size: calc(var(--size) / 3); }
</style>
