---
import { getCollection } from 'astro:content';
import PostCollectionLayout from '@layouts/PostCollectionLayout.astro';
import ExpandedPreviewCard from '@components/PostPreviewCard/ExpandedPreviewCard.astro';
import NothingHereCard from '@components/PostPreviewCard/NothingHereCard.astro';

let publishedProjects = (await getCollection('posts')).filter(post => (
  !post.data.draft &&
  post.data.category==="projects"
));
publishedProjects.sort(function(a, b) {
	let a_date = Date.parse(a.data.dateUpdated || a.data.datePublished);
  let b_date = Date.parse(b.data.dateUpdated || b.data.datePublished);
  if (b_date > a_date) return 1;
  if (a_date > b_date) return -1;
  return 0;
});
---
<PostCollectionLayout
	title="Projects"
  description="Tyler Wittig's Projects"
	numPosts={publishedProjects.length}
>
  <ul
    slot="content"
    class="layout layout--list"
  >
    {
      publishedProjects && publishedProjects.length > 0 
      ? publishedProjects.map((post, i) => 
        <li>
          <ExpandedPreviewCard
            post={post}
            reverse={i%2!==0}
          />
        </li>
      )
      : <li>
          <NothingHereCard />
        </li>
    }
  </ul>
</PostCollectionLayout>
