---
import Squiggle from '@components/Squiggle.astro';
import Featured from './components/Featured.astro';
import Recents from './components/Recents.astro';
---

<section>
  <div class="card content-section shadow-sm surface0 wrapper">

    <h2>Featured Posts</h2>
    <Featured />

    <Squiggle />
    
    <h2>Recent Posts</h2>
    <Recents />

    <Squiggle />

    <p>
      View all posts on my
      <a href="/projects/">Projects</a>
      and
      <a href="/blog/">Blog</a>
      pages.
    </p>

  </div>
</section>


<style>
  h2, p { text-align: center; }
  h2 {
    color: var(--text2);
    font-size: 2rem;
  }
  p { margin: auto; }
</style>
