---
import ReplyToPageButton from "./components/ReplyToPageButton.astro";
import ScrollTopButton from "./components/ScrollTopButton.astro";

const { hasReplyToPageButton=false } = Astro.props;
---

<div class="layout layout--list util-container">
  <ScrollTopButton />
  {
    hasReplyToPageButton===true &&
    <ReplyToPageButton />
  }
</div>


<style>
  div {
    --_layout--gap:0.5rem;
    --_margin: 0.5rem;
    align-items: flex-end;
    bottom: var(--_margin);
    position: fixed;
    right: var(--_margin);
    z-index: 100;
  }
</style>
