---
import TableOfContents from "./components/TableOfContents/index.astro";
import ReplyToPageButton from "./components/ReplyToPageButton.astro";
import ScrollTopButton from "./components/ScrollTopButton.astro";

const {
  hasTableOfContents=false,
  hasReplyToPageButton=false
} = Astro.props;
---

<div
  class="layout layout--list util-container"
  id="util-container-right"
>
  <ScrollTopButton />
  {
    hasReplyToPageButton===true &&
    <ReplyToPageButton />
  }
</div>

<div
  class="layout layout--list util-container"
  id="util-container-left"
>
  {
    hasTableOfContents===true &&
    <TableOfContents />
  }
</div>


<style>
  .util-container {
    --_layout--gap:0.5rem;
    --_margin: 0.5rem;
    position: fixed;
    bottom: var(--_margin);
    z-index: 100;
  }
  #util-container-left {
    align-items: flex-start;
    left: var(--_margin);
  }
  #util-container-right {
    align-items: flex-end;
    right: var(--_margin);
  }
</style>
