---
{/* Router File for Decorative Line Variants. */}

import SawtoothLineSVG from './components/SawtoothLineSVG.astro';
import SineLineSVG from './components/SineLineSVG.astro';
import SquareLineSVG from './components/SquareLineSVG.astro';
import TriangleLineSVG from './components/TriangleLineSVG.astro';

const {
  stroke="var(--surface1)",
  variant="sine"
} = Astro.props;
---
<div>
  { variant==="sawtooth" && <SawtoothLineSVG stroke={stroke} /> }
  { variant==="sine" && <SineLineSVG stroke={stroke} /> }
  { variant==="square" && <SquareLineSVG stroke={stroke} /> }
  { variant==="triangle" && <TriangleLineSVG stroke={stroke} /> }
</div>
