---
{/* Router File for Decorative Line Variants. */}

import SawtoothLineSVG from './components/SawtoothLineSVG.astro';
import SineLineSVG from './components/SineLineSVG.astro';
import SquareLineSVG from './components/SquareLineSVG.astro';
import TriangleLineSVG from './components/TriangleLineSVG.astro';

const { variant="sine" } = Astro.props;
---
<div>
  {/* Add a hidden hr for semantic meaning */}
  <hr style="height:0;width:0;" />
  {/* Display Line Variant */}
  { variant==="sawtooth" && <SawtoothLineSVG /> }
  { variant==="sine" && <SineLineSVG /> }
  { variant==="square" && <SquareLineSVG /> }
  { variant==="triangle" && <TriangleLineSVG /> }
</div>
