---
import Head from '@components/Head.astro';
import Header from '@components/Header/index.astro';
import Breadcrumbs from "@components/Breadcrumbs.astro";
import Footer from '@components/Footer.astro';
import ScrollTopButton from '@components/ScrollTopButton.astro';
---

<!DOCTYPE html>
<html
  lang="en"
  data-mode="light"
  data-color="blue"
  data-scheme="analogous"
>
  <Head {...Astro.props} />

  <body class="surface3">
    <Header />
    <main>
      <Breadcrumbs />
      <slot />
    </main>
    <Footer />
    <ScrollTopButton />
  </body>

</html>

<style>
  .wrapper {
    width: var(--page-width);
    max-width: 100%;
    padding-block: 0;
  }
</style>