---
import Head from '@components/Head.astro';
import SVGDefinitions from '@components/SVGDefinitions.astro';
import Header from '@components/Header/index.astro';
import Breadcrumbs from "@components/Breadcrumbs.astro";
import Footer from '@components/Footer.astro';
import PageUtils from '@components/PageUtils/index.astro';
---

<!DOCTYPE html>
<html
  lang="en"
  data-mode="light"
  data-color="blue"
  data-scheme="analogous"
>
  <Head {...Astro.props} />

  <body class="surface1">
    <SVGDefinitions />
    <Header />
    <main>
      {
        Astro.props.hasBreadcrumbs===true &&
        <Breadcrumbs />
      }
      <slot />
    </main>
    <Footer />
    <PageUtils
      hasReplyToPageButton={Astro.props.hasReplyToPageButton || false}
    />
  </body>

</html>

<style>
  .wrapper {
    width: var(--page-width);
    max-width: 100%;
    padding-block: 0;
  }
</style>