---
import BaseLayout from '@layouts/BaseLayout.astro';
import PostPreviewCard from '@components/PostPreviewCard/index.astro';
const { title, posts } = Astro.props;
---
<BaseLayout {...Astro.props}>

  <section>
    <div class="wrapper">

      <h1>{title}</h1>
      
      <slot />  {/* Collection Info */}
      
      {
        posts && posts.length > 0 &&
        <h2 class="heading--diminished">
          {posts.length}
          Post{posts.length === 0 || posts.length > 1 ? "s" : ""}
        </h2>
      }
      
    </div>
    <div class="wrapper card shadow-sm surface0">

      <ul class="layout layout--flex-fill">
        {
          posts && posts.length > 0 
          ? posts.map((post) => 
            <li>
              <PostPreviewCard
                post={post}
                cardType="compact"
              />
            </li>
          )
          : <li>
              <article class="card content-section surface3">
                <h2>Nothing Here Yet!</h2>
                <p>
                  Looks like there isn't any content on this page yet!
                  Check back at a later date.
                </p>
              </article>
            </li>
        }
      </ul>

    </div>
  </section>
  
</BaseLayout>
