---
import BaseLayout from '@layouts/BaseLayout.astro';
const { title, numPosts=0 } = Astro.props;
---
<BaseLayout {...Astro.props}>
  <section>

    <div
      class="content-section wrapper"
      style="--_content-gap:0.5rem;"
    >
      <h1>{title}</h1>
      <div class="info"><slot name="info" /></div>  {/* Collection Info */}
      {
        numPosts > 0 &&
        <h2 class="heading--reduce">
          {numPosts}
          Entr{numPosts === 0 || numPosts > 1 ? "ies" : "y"}
        </h2>
      }
    </div>

    <div class="wrapper card shadow-sm surface0">
      <slot name="content" />  {/* Collection Content */}
    </div>

  </section>
</BaseLayout>


<style>
  .info { margin-bottom: 1rem; }
  .info:empty { display: none; }
</style>
